<div class="main-content">
    <div>
        <app-filter-form (changeFilter)="changeFilter($event)"/>
    </div>
    <hr class="p-divider-horizontal">
    <div class="person-list">
        @for (person of people; track person) {
            <app-person [person]="person" (click)="clickUpdatePerson(person)"></app-person>
        }
    </div>
    <p-button icon="pi pi-plus" severity="success" class="add-button" (click)="clickAddPerson()"/>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="0"
        [rows]="10"
        [totalRecords]="total"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"/>

    <hr class="p-divider-horizontal">
    <app-person-statistic/>
</div>

<p-toast [breakpoints]="{ '3000px': { width: '100%', right: '0', left: '0' } }"/>
<app-edit-dialog [person]="person!" [visible]="visible" (changeEditData)="changeEditData($event)"/>

